// Variables

// Colors for use across document

$color-hover:       #158a48;

$color-base:		#000;
$color-darker:		lighten($color-base, 17%);
$color-dark:		lighten($color-base, 20%);
$color-middle:		lighten($color-base, 50%);
$color-light:		lighten($color-base, 70%);
$color-lighter:		lighten($color-base, 80%);
$white:		        #fff;